.center{
   
    border: solid 2px red ;
    background-color: yellow;
    margin-left: 30%;
    margin-right: 30%;

}
hr{
    width: 40%;
}
h1{
    text-align: center;
}

.coul{
    text-decoration: underline;
    font-weight: bold;
    
}
#label{
    margin-left: 50px;
}