body{background-color: rgb(176, 173, 119);}

header{

    background-color:darkred;
	color:whitesmoke;
	width: auto;
	height: auto ;
	padding-right: 50px ;
	text-align:center;
	font-size:20px;
	border-radius: 30px ;
	border:solid black 2px;
}
nav{
	
	background-color:darkgray;
	border:solid black 2px;
	border-radius:30px 30px;
	margin-left: 50%;
 
	width: auto;
	height: auto;
  
}

#naviga
{	background-color:white;
	margin-left:10%;
	font-size:35px;
	color:green;

}

.class1{
	background-color: yellow;
	margin-left: 30%;
	margin-right: 50%;
}

a.class2{
float: right;

}

.class3{
	margin-bottom: auto;
}
.class0{ 
	width: 2%;
	color:red;
}

a {
	color: darkblue;
}
#drapeau
{

float:left;
	width:0.1%;
	height:0.1%;
	border-radius:30px;
    
}
#taille{

	font-size:35px;
	float:left;

	

}
#absolu{
	position: absolute;
}
#relatif{
	position: relative;
}
#haut{
	float: right;
}

#date {
	color: rgb(16, 32, 208);
}