body{
    background-color: gray;
}
h1{
    color: white;
    background-color: black;
    margin-right: 60%;
}

.couleur{
    background-color: orange;
    margin-left: 10%;
    margin-right: 10%;
}
.zeugma{
    text-decoration: overline;
    font-weight: bold;
    color: black;
}
li{
    background-color: rgb(111, 214, 111);
    color: white;

}
ul{
    list-style: square;
}
dt{
    color: blue;
    text-decoration: underline;
}
.orange{
    color: red;
    text-decoration: underline;
}
ul{
    background-color: #545454;
    margin-top: 0;


}